body{
font-family:Arial,sans-serif;
margin:0;
background:#f2f5f9;
color:#12355b;
}

header,footer{
background:#12355b;
color:white;
padding:25px;
text-align:center;
}

nav{
background:#087e8b;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.banner,.cards,.conteudo{
padding:40px;
max-width:1000px;
margin:auto;
}

.banner{
display:flex;
gap:30px;
align-items:center;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 3px 10px #ccc;
flex:1;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

td,th{
border:1px solid #777;
padding:10px;
}

form{
background:white;
padding:30px;
border-radius:10px;
}

input,select,button{
display:block;
margin:10px 0;
padding:10px;
}

@media(max-width:700px){
.banner,.cards{
display:block;
}
}
